/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
width:100%;
height:100%;
}
body {
  line-height: 1;
  text-align: center;
  background-color: rgb(226, 226, 226);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.top-nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.top-nav1{
  display: flex;
  flex-direction: column;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width:40%;
  margin:10px;
  border:solid;
  border-width: 1px;
  border-color: darkgray;
}
form h4, p, a, div, button{
  margin:10px;
}

.align-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.align-form button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:80%;
  height:30px;
}

.label-section{
  display: flex;
  flex-direction: column;
  text-align: start;
  width:80%;
}

.label-section label{
  display: flex;
  flex-direction: column;
  text-align: start;
margin: 10px 0px 10px 0px;
}

.form-bottom{
  background-color: rgb(226, 226, 226);
  margin:0px;
  width:100%;

}
.form-bottom p{
  font:10px;
}